<label>Name:</label>
<div>
  <input type="text" value="{{name}}" name='app_model[name]'>
</div>

<label>Description</label>
<div>
  <textarea type="text" name="app_model[description]">{{description}}</textarea>
</div>