<label>Title:</label>
<div>
  <input type="text" value="{{title}}" name='note[title]'>
</div>

<label>Description</label>
<div>
  <textarea type="text" name="note[description]">{{description}}</textarea>
</div>

<a href="#notes/{{id}}" class="uk-button uk-button-primary">Done</button>